services:
  postgresql:
    container_name: monolith-postgresql
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=YourStrong@Passw0rd
      - POSTGRES_DB=TicketBuddy
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d TicketBuddy -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - ticketbuddy-monolith-network
  aspire-dashboard:
    container_name: monolith-aspire-dashboard
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    environment:
      ASPIRE_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: "true"
    ports:
      - "18888:18888"
      - "4317:18889"
    depends_on:
      - postgresql
    networks:
      - ticketbuddy-monolith-network
  rabbitmq:
    container_name: monolith-rabbitmq
    image: masstransit/rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - ticketbuddy-monolith-network
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    container_name: monolith-redis
    image: "redis:latest"
    ports:
    - "6379:6379"
    networks:
    - ticketbuddy-monolith-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
  keycloak:
    container_name: monolith-keycloak
    image: quay.io/keycloak/keycloak:latest
    entrypoint: /bin/sh
    command:
      - -c
      - |
        set -ex
        /opt/keycloak/bin/kc.sh import --dir /opt/keycloak/data/import
        /opt/keycloak/bin/kc.sh start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KK_TO_RMQ_URL=amqp://guest:guest@monolith-rabbitmq:5672/
      - KK_TO_RMQ_VHOST=/
      - KK_TO_RMQ_USERNAME=guest
      - KK_TO_RMQ_PASSWORD=guest
      - KC_HEALTH_ENABLED=true
    ports:
      - "8180:8080"
    volumes:
      - ../CommonLibraries/Keycloak/Artifacts/ticketbuddy-realm.json:/opt/keycloak/data/import/ticketbuddy-realm.json
      - ../CommonLibraries/Keycloak/Artifacts/keycloak-to-rabbit-3.0.5.jar:/opt/keycloak/providers/keycloak-to-rabbit-3.0.5.jar
    restart: always
    networks:
      - ticketbuddy-monolith-network
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<> /dev/tcp/127.0.0.1/9000; echo -e 'GET /health/ready HTTP/1.1\\r\\nhost: http://localhost\\r\\nConnection: close\\r\\n\\r\\n' >&3; if [ $? -eq 0 ]; then echo 'Healthcheck Successful'; exit 0; else echo 'Healthcheck Failed'; exit 1; fi;" ]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 10s
  migrations:
    container_name: monolith-migrations
    build:
      context: ..
      dockerfile: Database/Host.Migrations/Dockerfile
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - ENVIRONMENT=Development
    networks:
      - ticketbuddy-monolith-network
    restart: "no"
  api:
    container_name: monolith-api
    build:
      context: ..
      dockerfile: Host/Dockerfile
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    depends_on:
      migrations:
        condition: service_completed_successfully
      aspire-dashboard:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    environment:
      - ENVIRONMENT=Development
    ports:
      - "5000:8080"
      - "5001:8081"
    restart: on-failure
    networks:
      - ticketbuddy-monolith-network
  dataseeder:
    container_name: monolith-dataseeder
    build:
      context: ..
      dockerfile: LocalHosting/Host.Dataseeder/Dockerfile
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    depends_on:
      api:
        condition: service_started
    environment:
      - ENVIRONMENT=Development
    networks:
      - ticketbuddy-monolith-network
    restart: "no"
    command: ["sh", "-c", "sleep 20 && dotnet Host.Dataseeder.dll"]
  ui:
    container_name: monolith-ui
    build:
      context: ../../UI
      dockerfile: ../UI/Dockerfile
    depends_on:
      dataseeder:
        condition: service_completed_successfully
    ports:
      - "5173:5173"
    networks:
      - ticketbuddy-monolith-network
    restart: "no"

volumes:
  postgresql_data:
  rabbitmq_data:
  
networks:
  ticketbuddy-monolith-network:
    name: ticketbuddy-monolith-network
    driver: bridge